#pickadate{
    #wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      #your-fix-list {
        min-width: 100px;
        margin: 20px;
        text-align: left;
        cursor: pointer;
        .fc-event{
          padding: 5px;
        }
      }
      #calendar{
        width: 900px;
      }
    }
}