// All css for the front page
html {
  scroll-behavior: smooth;
}

#Front-page {
  .page-header {
    .container {
      .row {
        .brand {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}

// CSS for repair form
#Repair-form {
  .page-header {
    padding: 80px 0 50px 0;
    background-size: cover;
    background-position: top center;

    // height: auto;
    .home {
      z-index: 1;
      position: absolute;
      color: white;
      top: 30px;
      left: 30px;
    }

    .card-login {
      .form {
        min-height: auto;
        transition: all 0.3s ease-in-out;
      }

      .social-line {
        justify-content: center;
        align-items: center;

        a {
          &.active {
            background-color: #fff;
            border-radius: 50%;

            i {
              color: #f44336;
            }
          }
        }

        .line {
          width: 100px;
          border-bottom: 2px dotted white;
        }
      }

      .pages {
        #login {
          .register {
            display: none;

            &.show {
              display: flex;
            }
          }
        }
      }
    }
  }


}